<ion-view view-title="Settings">
  <ion-content>
    <div class="padding text-center">
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img ng-src="{{ data.picture }}" alt="profile picture">
          </div>
          <h2 class="profile-name dark" ng-model="data.name">{{data.name}}</h2>
          <div class="profile-info" ng-model="data.personal">{{data.personal}}</div>
        </ion-item>
        <ion-item class="profile-item">
          <button ng-click="openProfile()" class="button button-block button-stable">
            Profile
          </button>
          <button ng-click="logout()" class="button button-block button-assertive">
            Logout
          </button>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
