<ion-view view-title="Settings">
  <ion-content>
    <div class="padding text-center">
      <div class="list card">
        <ion-item class="profile-item">
          <div class="profile-picture big-profile-picture">
            <img src="https://randomuser.me/api/portraits/thumb/men/2.jpg">
          </div>
          <h2 class="profile-name dark">JOHN DOE</h2>
          <div class="profile-info">I am happy to be here</div>
        </ion-item>
        <ion-item class="profile-item">
          <button ng-click="logout()" class="button button-block button-assertive">
            Logout
          </button>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
